#quotesection{
  background-color: #32a852;
  margin: 30vh 20vw;
  padding: 8vh 10vw 10vh 10vw;
  border-radius: 8PX;

}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: black;
  color: #e5f2bd;
}

button:hover{
  border: #fff solid 1px;
}

button:active{
  color: #c3c6c9
}

h1{
  color: #e5f2bd;
  font: "Merriweather";
}

#flex{
  display: flex;
  margin: 150px;
}

div{
  border: 1px solid black;
  margin-left: 2vw;
}

.flexitem{
  flex-grow: 1;
}
