body {
  background-color: #white;
  font-family: 'Ramabhadra';
  font-size: 2vw;
  font-weight: 100;
  color: #203656;

  border: solid rgb(100,100,100) 1px;
  border-color: #203656;
  /* padding-left: 50px; */
}



#header{
  width:200vw;
  height: 60vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#header img{
  width:100vw;
  position: relative;
  bottom: 300px;
  right: 18px;

}

#header h1{
  z-index: 1;
  position: relative;
  font-size: 5vw;
  top: 44vh;
  margin: 0 0 0 2vw;
  color: white;
  font-family: 'Ramabhadra'
}



#aboutme{
  border: solid #203656 1px;
  background-color: #C14803;
  font-family: 'PT Serif';
  margin: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px 30px 0px 30px;
  color: white;
}

#goals{
  padding-left: 50px;
}

#Encyclopedia{
  padding-left: 25px;
  padding-bottom: 25px;
}

button{
  background-color: #FFFFFF;
  border: solid #203656;
  font-family: "Ramabhadra";
  border-radius: 10px;
  border-width: 2px;
  font-size: 15px;
  padding: 10px 15px;
}

button:active{
  background-color: #203656;
  color: white;
  border: solid #203656;
  /* background-blend-mode: color-burn; */
}

button:hover{
  border: #203656 2px;
  color: #203656;
  border: solid #203656;
}

button:active{
  background-color: #203656;
  color: white;
  border: solid #203656;
  /* background-blend-mode: color-burn; */
}
